*{
    margin: 0;
    padding: 0;
}
.header {
    padding: 48px 62px 48px 188px;
    background-color: gray;
}

.navigation-link,
.phone {
    margin-right: 40px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
}

.navigation-link:hover {
    color: #FF6C00;
}

.rezerv {
    border: 1px solid #FF6C00;
    border-radius: 25px;
    background-color: transparent;
    padding: 10px 20px;
    font-family: 'Open Sans';
    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;

}



.conteyner {
    width: 1140px;
    margin: 0 auto;
}

/* } 2000-1140=860/2=430 
430-1140-430 */
.social {
    margin-right: 30px;
}

.hero-fon {
    background-image: url(../imges/Slider\ img\ 3.jpg); 
  
   padding: 270px 0 245px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hero-container{
    margin: 272px 0 206px 96px;

}
    

.intro {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: rgba(157, 164, 189, 0.6);
    
}

.titlle {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 20px;
    color: #FFFFFF;
    
}
.hero-discription{
    font-family: 'Open Sans', sans-serif;
    
    font-weight: 400;
    

    margin-bottom: 15px;
    color: rgba(157, 164, 189, 0.6);
    
    }
    .link{
        list-style:none;
    }
